<h3 class="text-center"> Formularios con NgModel </h3>

<div class="container">
    <form action="" class="row">
        <div class="col-12 col-lg-2">
            <label for="exampleColorInput" class="form-label ">Color Favorito</label>
            <input [(ngModel)]="persona.colorFavorito" [ngModelOptions]="{standalone: true}" type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color ">
        </div>
        <div class="col-12 col-lg-4">
            <label for="Nombres" class="form-label">Nombre(s)</label>
            <input (keyup)="mostrarNombre()" [(ngModel)]="persona.nombre" name="Nombres" type="text" class="form-control" id="Nombres" title="Ingresa los nombres" placeholder="Nombre(s)" autocomplete="off">
            <span class="n-error" *ngIf="validarMinLetras()">Nombre debe tener mas de 5 letras</span>
        </div>
        <div class="col-12 col-lg-4">
            <label for="Apellidos" class="form-label">Apellido(s)</label>
            <input [(ngModel)]="persona.apellido" name="Apellidos" type="text" class="form-control" id="Apellidos" title="Ingresa los apellidos" placeholder="Apellido(s)">
        </div>
        <div class="col-12 col-lg-4">
            <label for="Correo" class="form-label">Correo Electronico</label>
            <input [(ngModel)]="persona.correo" name="Correo" type="text" class="form-control" id="Correo" title="Ingresa el correo electronico" placeholder="Correo Electronico">
        </div>
        <div class="col-12 col-lg-4">
            <select id="Pais" name="Pais" [(ngModel)]="persona.pais" class="form-select" aria-label="Seleccione País">
               <option selected>Open this select menu</option>
               <option value="1">Colombia</option>
               <option value="3">Canada</option>
               <option value="2">Estados Unidos</option>
             </select>
        </div>
        <div class="text-center my-3">
            <button (click)="guardar()" class="btn p-1 btn-sm btn-success">Guardar</button>
        </div>
    </form>
</div>