<h5 class="text-center">Bienvenido al Texto</h5>
<p class="mx-5 mt-4">
    AngularJS comenzó a ser desarrollado en 2009 por Miško Hevery originalmente era un servicio de almacenamiento online de archivos JSON donde el cobro dependía del peso en megabytes de cada archivo. Tiempo después abandonó el proyecto y re lanzó angularcomo
    un proyecto open-source.. La versión más estable hasta la fecha de Angular 1 es la 1.5.8 (en el momento que escribí este post) frente a Angular 2 que se encuentra en la versión estable 2.2. AngularJS 2 fue anunciado en la ng-Europe conference 2014,
    causando un revuelo entre los desarrolladores ya que fue rediseñado por completo, trayendo bastantes mejoras. Cuando fue lanzado Angular 2 fue casi necesario desaprender Angular 1 y volver a aprender el 2, aunque en las versión más recientes ya manejan
    algunas características de la nueva versión.</p>